.wrapper {
  margin-top: 3em;
}

.pageheader {
  font-size: 3em;
  text-align: center;
  font-weight: normal;
}

.dividingheader {
  font-size: 2em;
  font-weight: normal;
  margin: 4em 0 3em;
}


.ui.table {
  table-layout: fixed;
}